body {
  width: 100%;
  height: 100vh;
}

.image {
  /* display block và margin 0 auto đi kèm với nhau để căn giữa */
  /* /* display: block; */
  margin: 0 auto;
  width: 200px;
  height: 499px;
  /* sử dụng object fit cover để tránh kéo dãn hình ảnh */
  object-fit: cover;
  object-position: top;
}
/* muốn cắn giữa item inline ta dùng div bao bọc, sử dụng text align center */
.image-wraper {
  text-align: center;
  /* chỉ áp dụng với các element là inline /inline block */
}
