$blue-color: #43a7fe;
$green-color: #00c899;
@mixin size($width, $hight: $width) {
  width: $width;
  height: $hight;
}
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  background-color: #f3faff;
}
a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.author {
  max-width: 1200px;
  margin: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  background-color: #eee;
  justify-content: center;
  height: 40rem;
  &__image {
    height: 100%;
    object-fit: cover;
  }
  &__content {
    padding: 3rem;
  }
  &__name {
    color: #333;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  &__desc {
    font-size: 1.6rem;
    line-height: 1.8;
    margin-bottom: 3rem;
    text-align: justify;
  }

  &__contact {
    display: flex;
    align-items: center;
  }
  &-social {
    display: flex;
    align-items: center;
    &__item {
      margin-left: 2rem;
    }
  }
}
@media screen and (min-width: 768px) {
  .author {
    &__image {
      width: 35%;
    }
    &__content {
      width: 65%;
    }
  }
}
@media screen and (max-width: 767px) {
  .author {
    padding: 0;
    flex-direction: column;
    height: auto;
    &__image,
    &__content {
      width: 100%;
    }
    &__image {
      padding: 0;
    }
  }
}
