$blue-color: #43a7fe;
$green-color: #00c899;
$primary-color: #fc556f;
$secondary-color: #fd9c84;
$gradient-color: linear-gradient(to right, $primary-color, $secondary-color);
@mixin size($width, $hight: $width) {
  width: $width;
  height: $hight;
}
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  background-color: #f2f2f2;
  padding: 2rem;
}
a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
@mixin flexbox(
  $align: flex-start,
  $justify: flex-start,
  $flex-direction: row,
  $wrap: nowrap
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $flex-direction;
  flex-wrap: $wrap;
}

.post {
  padding: 2rem;
  border-radius: 1rem;
  background-color: #fff;
  @include flexbox(stretch);
  &__left,
  &__right {
    width: calc(100% - 1rem);
  }
  &__media {
    height: 40rem;
    position: relative;
    margin-bottom: 3.5rem;
  }
  &__image {
    @include size(100%);
    object-fit: cover;
    border-radius: 1rem;
    position: absolute;
  }
  &__category {
    display: inline-block;
    width: 9rem;
    height: 3rem;
    padding: 0.7rem;
    border-radius: 14px;
    background-image: $gradient-color;
    color: white;
    position: absolute;
    top: 2rem;
    left: 2rem;
    text-align: center;
    cursor: pointer;
    z-index: 2;
  }
  &__icon {
    @include flexbox(center, center);
    position: absolute;
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    right: 2rem;
    bottom: 0;
    transform: translateY(50%);
    background-image: $gradient-color;
    color: white;
    text-align: center;
    z-index: 1;
  }
  &__author {
    @include flexbox(center);
    font-style: 1.4rem;
  }
  &-author {
    @include flexbox(center);
    &__avatar {
      @include size(4rem);
      border-radius: 4rem;
      object-fit: cover;
      margin-left: 1rem;
    }
  }
  &__date {
    position: relative;
    margin-left: 2.5rem;
    padding-left: 2.5rem;
    &::before {
      content: "";
      position: absolute;
      @include size(5px);
      border-radius: 10px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: $primary-color;
    }
  }
  &__title {
    font-weight: bold;
    font-size: 2rem;
    color: rgb(74, 74, 74);
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  &__desc {
    font-weight: normal;
    color: grey;
    line-height: 1.2;
  }
}
