extends layout/layout

block vars
    -title = 'Welcome to Gulp Template workflow'
    -bodyClass = 'home-page'

block container
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quod mollitia, recusandae, rerum harum impedit sed ducimus, numquam cum quaerat neque vitae accusantium ad ipsam consequatur laudantium id ab laboriosam?